.somediv{
  padding: 10px;
    background-color: #000;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;

}

@media screen and (max-width: 580px) {
   .somediv {
       background-color: green;
       max-width: 300px;
   } 
}

#test {
    display: none;
    background-color: red;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-family: cursive;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    #test {
        display:block;
    }
}

/*
Մի քանի մեդիա գրելու դեպքում անհրաժեշտ է գրել դրանք մեծ չափսից դեպի փոքր
*/