.somediv{
    min-width: 800px;
    max-height: 800px;
    background-color: #000;
    color: aliceblue;


}

/*
width: ֆիքսված է 
max-width չի մեծանում մեր կողմից գրված արժեքից, բայց փոքրանում է ինչքան հնարավոր է
min-width չի փոքրանում մեր կողմից գրված արժեքի չափից, բայց մեծանում է ինչքան հնարավոր է

height:
max-height
min-height

ֆիքսված չափեր, մինիմալ չափեր, մաքսիմալ չափեր

*/